*.swp

data/routeviews/updates
data/routeviews/ribs
data/routeviews/cache
data/routeviews/bgpd
data/caida_as_rel/serial-1
data/caida_as_rel/serial-2
data/caida_as_org/cache
data/caida_as_org/fetched_data
data/bgpstream/cache
data/bgpstream/event

__pycache__

BEAM_engine/models/
BEAM_engine/models

routing_monitor/detection_result/
routing_monitor/detection_result

post_processor/rpki_cache/
post_processor/rpki_cache
